a {
    text-decoration: none;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.submenu-collapse{
    font-weight: 100;
}
.cardimg {
    border: 1px solid rgb(203, 203, 249);
    width: 500px;
    height: 350px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.cardimg:hover {
    width: 510px;
    height: 360px;
    transform: scale(1.02);
}

.titre1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, -50%);
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    z-index: 1000;
}

.top nav {
    box-sizing: border-box;
    height: 35px;
}

.admin {
    width: 48px;
    height: 33px;
    padding-top: 5px;
}

.admintag {
    text-align: center;
}

.dropdowns {
    display: flex;
    justify-content: end;
    margin: 0px 0px;
}

/* .dropdown {
    background-color: rgb(3, 185, 145);
    border-radius: 10px;
    margin: 8px 3px;
} */

/* .dropdown-toggle {
    color: white;
    width: 130px;
    height: 45px;
    font-size: medium;
    font-weight: bold;
} */

.brand {
    padding: 0;
    margin: 0;
    width: 70px;
    height: 55px;
    display: block;
    padding: 4px 4px;
}

html, body {
    margin: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    background-color: #ffffff00;
}

.cards {
    gap: 10px;
}

.main {
    flex: 1;
}

footer {
    padding: 5px;
    justify-content: space-between;
}

.container-fluid {
    padding: 0px 0px;
}
@media (max-width: 956px){
    .navbar-item{
    
    }
}
@media (max-width: 380px) {
    .nav-item{
        text-align: center;
        background-color: white;
        border-bottom: 1px solid black;
    }
    .dropdowns {
        display: block;
        padding: 8px 0;
    }

    p {
        padding: 10px 3px !important;
    }

    .bienvenue .bottom {
        font-size: large !important;
    }

    .bienvenue .top {
        font-size: 40px !important;
        font-weight: 700 !important;
    }

    .dropdown-toggle {
        font-size: medium;
        font-weight: bold;
    }

    .dropdown {
        margin: 4px 0;
        width: 80%;
    }

    html, body {
        margin: 0px;
    }

    .brand {
        width: 60px;
        height: 60px;
    }
    
    
   
}

.bienvenue .bottom
 {
    font-size:20px;
}

* {
    font-family: Helvetica, sans-serif;
}
.bienvenue.main{
    text-align: center;
    padding-top: 120px;
}
.bienvenue .top {
    color: #333;
    font-weight: 1000;
    font-size: 80px;
}


.navbar-toggler-icon {
    width: 30px;
    height: 33px;
}

.action-admin {
    line-height: 0.9;
}

.navbar-nav{
    position: relative;
    min-width: 100px;
    font-weight: bold;
    padding-top: 0px;
    z-index: 1000;


}




.nav-item{
    text-align: right;
    background-color: white;
    padding-left: 20px;
}


.navbar-nav{
    width: 400px !important;
   
}
.navbar-collapse{
}
.navbar-nav{
    position: absolute;
    right: 0;
}

.bottom.nav{
    background-color: rgba(200, 209, 203, 0.275);
    height:55px ;
}
.navbar{
    padding: 0px !important;
    height: 45px !important;
}
